{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">{{ title }}</h2>
    
    <div class="archive__item-content">
      {{ post.content }}
    </div>

    {% if post.collection == 'experience' %}
      {% assign start = post.date | date: "%B %Y" | replace: "January", "janvier" | replace: "February", "février" | replace: "March", "mars" | replace: "April", "avril" | replace: "May", "mai" | replace: "June", "juin" | replace: "July", "juillet" | replace: "August", "août" | replace: "September", "septembre" | replace: "October", "octobre" | replace: "November", "novembre" | replace: "December", "décembre" %}
      {% if post.end_date %}
        {% assign end = post.end_date | date: "%B %Y" %}
      {% else %}
        {% assign end = "Aujourd'hui" %}
      {% endif %}
      <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ start }} → {{ end }}</p>
    {% elsif post.collection == 'teaching' %}
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% elsif post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">
        <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
        <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read more</a></strong></p>
      </p>
    {% endif %}

  </article>
</div>
